@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  border: 1px solid green;
  overflow: auto;
  min-height: 300px;
  border-radius: 10px;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;

  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.task {
  background-color: #f4f4f4;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.task h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task.reminder {
  border-left: 5px solid green;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.taskD {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
