@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #28536c;
  color: #fff;
}

header {
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: white;
  color: black;
  width: 400px;
  border-radius: 10px;
  padding: 40px 50px;
  position: relative;
  margin: 20px;
  font-weight: bolder;
}
.rating li,
.num-display {
  background-color: #f3f31c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 12px 0;
  position: relative;
  top: -10px;
  left: -10px;
  transition: 0.3s;
}

.num-display {
  position: absolute;
  top: -10px;
  left: -10px;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.feedback-stats {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  margin: 15px;
}

.edit,
.close {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

.edit {
  right: 35px;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
}

.btn {
  border: 0;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: black;
  cursor: pointer;
}

.btn-primary {
  background: #28536c;
  /* myBackGroundColor */
  color: white;
}

.btn-secondary {
  background: #f3f31c;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.rating {
  display: flex;

  align-items: center;
  justify-content: space-around;
  margin: 30px 0 40px;
}

[type="radio"] {
  opacity: 0;
}

[type="radio"]:checked ~ label {
  background: green;
  color: white;
}

ul {
  list-style: none;
}

@media (max-width: 600px) {
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }
}

/* We can define css colors as variables and use them wherever a color value is needed???  Try finding it now...*/
